*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1440px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  background-color: transparent;
  padding: 12px 32px;
  border: 1px white solid;
  z-index: 2;
}


