.header {
  padding: 92px 49px 92px 51px;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
}


.header__menu {
  padding-top: 43px;
  padding-bottom: 45px;
}


.header__links-list {
  display: flex;
  gap: 32px;
}


.header__links-list-item {
  color: black;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  list-style: circle;
}


.header__links-item-no {
  list-style: none;
}


.header__links-list-item_no-bullit {
  text-decoration: none;
}


.header__link { 
  text-decoration: none;
  border-bottom: 1px solid;
}


.header__logo {
  display: flex;
  justify-content: center;
}


.header__logo-image {
  width: 148px;
  height: 105px;
}


.contacts {
  align-self: start;
  justify-self: end;
  padding-top: 5px;
  width: 240px;
}


.contacts_line {
  color: black;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 24.30px;
  word-wrap: break-word;
  text-decoration: none;
}


.contacts_line_style {
  border-bottom: 1px solid;
}


.cover {
  width: 100%;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
}


.overlay  {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}


.cover-title {
  color: white;
  font-size: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
  position: relative;
}


.cover-span_top {
  display: block;
  padding-top: 165px;
  padding-left: 50px;
  letter-spacing: 30px;
  word-wrap: break-word;
}


.span  {
  letter-spacing: 30px;
  word-wrap: break-word;
}


.cover-span_top-first {
  letter-spacing: 60px; 
}


.cover-span_center {
  text-align: center;
  right: 15px;
}


.cover-span  {
  position: relative;
  line-height: 100px;
}


.cover-span_center-first {
  left: 30px;
  letter-spacing: 60px;
  word-wrap: break-word;
}


.cover-span_bottom {
  text-align: right;
  right: 20px;
  bottom: 15px;
  position: relative;
  letter-spacing: 60px;
}


.cover-span_bottom-first {
  line-height: 100px;
}


.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  padding: 115px 50px 0;
}


.cover__description-text {
  text-align: center;
  color: white;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 28px;
  word-wrap: break-word;
  word-spacing: 18px;
  z-index: 2;
}


.bet-button {
  text-align: center;
  color: white;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
}


.lots {
  margin: 180px 50px 181px 50px;
  width: 1340px;
  min-height: 579px;
}


.lots__heading  {
  padding-left: 40px;
  padding-bottom: 27px;
  color: black;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
}


.lots__card-list  {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  column-gap: 25px;
  list-style: none;
}


.lots__card-list-item  {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
}


.card-link  {
  text-decoration: none;
}


.card  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}


.card_type_film  {
  background-image: url(../images/card-lot-01.jpg);
}


.card_type_book  {
  background-image: url(../images/card-lot-02.jpg);
}


.card_type_picture  {
  background-image: url(../images/card-lot-03.jpg);
}


.card__title  {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-position: under;
  line-height: 26.40px;
  z-index: 2;
}


.card__text  {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  z-index: 2;
}


.lots__look-more-link  {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  color: black;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-underline-position: under;
  font-weight: 400;
  word-wrap: break-word;
}


.about  {
  margin: 0 50px 180px 50px;
  width: 1340px;
  min-height: 487px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
}


.about__column  {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: center;
}


.about__logo  {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.about__logo-image  {
  width: 148px;
  height: 114px;
}


.about__column_title  {
  grid-column-start: 2;
  grid-column-end: 4;
}


.about__title  {
  padding-top: 100px;
  color: black;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
}


.about__text  {
  padding-top: 100px;
  color: black;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}


.about__text-second  {
  padding-top: 25px;
  color: black;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}


.footer  {
  padding: 0 50px 90px 50px;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  column-gap: 356px;
}


.address  {
  width: 240px;
}


.footer__menu  {
  text-align: center;
  width: 149px;
}


.footer__menu-list  {
  list-style: none;
}


.footer__menu-list-item  {
  color: black;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}


.footer__menu-link_active  {
  text-decoration: none;
}


.footer__menu-link  {
  text-underline-position: under;
}


.footer__social-list  {
  display: flex;
  column-gap: 48px;
  list-style: none;
  width: 240px; 
}


.footer__social-icon  {
  height: 48px;
  width: 48px;
}

