body {
   margin: auto;
   width: 1440px;
}

.header {
  padding: 92px 49px 92px 51px;
  display: grid;
  grid-template-columns:repeat(3, 1fr);

}

.header__menu {
  padding-top: 43px;
  padding-bottom: 45px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  height: 21px;
}

.header__links-list-item {
  color: black;
  font-size: 18px;
  font-family: 'Raleway';
  font-weight: 400;
  word-wrap: break-word;
  list-style: circle;
}

.header__links-item-no {
  list-style: none;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
  height: 21px;
}

.header__link {
  height: 21px; 
  text-decoration: none;
  border-bottom: 1px solid;
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.contacts {
  align-self: start;
  justify-self: end;
}

.contacts_line {
  color: black;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  text-decoration: none;
}

.contacts_line_style {
  border-bottom: 1px solid;
}

.cover {
  height: 757px;
  width: 100%;
  background-image: url(/Users/daria/ono-tebe-nado-main/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  
}

.overlay {
  position: absolute;
  height: 757px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
}


.cover_links {
  z-index: 2;
  position: relative;
  color: white;
}


.cover-title {
  color: white;
  font-size: 100px;
  font-family: 'Raleway';
  font-weight: 700;
  text-transform: uppercase;
  
}


.accent-span {
  
}